* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

h4,
h5,
p {
  font-size: 12px;
}

h5,
p {
  font-weight: 400;
}

h2,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

header {
  background-color: #fff;
}

header nav {
  height: 22px;
  width: 1260px;
}

header ul {
  list-style: none;
}

header ul li:first-child {
  font-weight: bold;
}

header .header-content {
  height: 118px;
}

header form {
  border-color: #ddd;
  width: 594px;
}

header form .form-content {
  border: 1px solid;
  border-radius: 10px;
  height: 40px;
}

header form input {
  border: none;
  margin-left: 16px;
  width: 100%;
  outline: none;
}

header form .btn-form {
  background-color: transparent;
  border: none;

  margin-right: 16px;
}

header .header-top .user-cart {
  width: 164px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;

  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* li:hover,
.dropdown,
.dropbtn:hover {
  background-color: red;
} */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  min-width: 1260px;
  height: 329px;
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content .list-department {
  min-width: 234px;
  background-color: #f5f5f5;
}

.dropdown-content .list-department ul {
  width: 190px;
  height: 298px;
}

.dropdown-content .list-department ul li,
.dropdown-content .category a {
  margin-bottom: 8px;
}

.dropdown-content .category {
  width: 100%;
}

.dropdown:hover {
  background-color: blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#carousel {
  width: 1258px;
  height: 409px;
  margin: 0 auto;
  position: relative;
}

#carousel .card {
  width: 238px;
  height: 409px;
  border-color: #c2c2c2;
  border-radius: 12px;
  padding: 6px 8px 8px;
}

#carousel .card .badge-new {
  background-color: #00264e;
  width: 41px;
  height: 22px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  height: 22px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
}

#carousel .card h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 16px 0px 4px 0px;
}

#carousel .card .price-container {
  width: 144px;
  height: 58px;
}

#carousel .card .price-container .old-price {
  text-decoration: line-through;
  font-size: 12px;
  font-weight: 400;
}

#carousel .card .price-container .new-price {
  font-size: 16px;
  font-weight: 700;
}

#carousel .card .price-container .discount-badge {
  background-color: #5ec0be;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
  width: 64px;
  height: 20px;
  text-align: center;
}

#carousel .card .price-container .installment-info {
  font-size: 12px;
}

#carousel .card .price-container .installment-info span {
  font-weight: 700;
}

#carousel .card .btn {
  width: 222px;
  height: 40px;
  background-color: #005cff;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  color: #fff;
  border: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

#carousel .carousel-control-prev {
  justify-content: flex-start !important;
  width: auto;
}

#carousel .carousel-control-next {
  justify-content: flex-start !important;
  width: auto;
}

#carousel .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("./assets/left-arrow.png");
}

#carousel .carousel-control-next .carousel-control-next-icon {
  background-image: url("./assets/right-arrow.png");
}

#banner-principal {
  background-color: #e7e7ea;
  height: 510px;
}

.banner-content {
  padding: 0px 2.5px;
}

.banner-content .title {
  padding: 0px 2.5px;
}

/* #banner-secundary {
  margin: 64px 0px;
} */

#banner-secundary .banner-content {
  width: 1177px;
  height: 747px;
  margin: 55px 0px;
}

#banner-secundary .banner-content .banner-img {
  background-color: #c2c2c2;
}

#banner-secundary .description {
  width: 487px;
  height: 536px;
}

#banner-secundary .description h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: start;
  text-transform: uppercase;
}

#banner-secundary .description p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 22px;
}

#product-details {
  background-color: #dedede;
  height: 820px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.product-content {
  display: flex;
  height: 728px;
  max-width: 1177px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.product-content .description {
  max-width: 476px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.product-content .description h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #4f4f4f;
}

.product-content .description img {
  height: 90px;
  width: 90px;
  margin-right: 20px;
}

.product-content .description div {
  margin-top: 50px;
}

.product-content .description p {
  font-size: 18px;
}

#newsletter {
  margin-top: 64px;
  margin-bottom: 40px;
}

.newsletter-content h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

.newsletter-content span {
  color: blue;
}

.newsletter-form {
  background-color: #dedede;
  padding: 64px 0px;
  border-radius: 8px;
}

.newsletter-form form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1030px;
  margin: 0 auto;
}

input[name="name"],
input[name="email"] {
  height: 48px;
  max-width: 280px;
  width: 100%;
  border-radius: 8px;
  outline: none;
  padding-left: 24px;
  border: none;
  font-size: 14px;
}

input[name="name"]::placeholder,
input[name="email"]::placeholder {
  color: #303030;
}

.newsletter-form label {
  font-size: 12px;
}

.newsletter-form label span {
  text-decoration: underline;
}

.footer-top {
  background-color: #f5f5f5;
  padding: 64px 0px;
}

/* .footer-container {
  background-color: #f5f5f5;
  padding: 64px 0px;
} */

.footer-content {
  /* height: 170px;
  max-width: 1160px; */
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.footer-networks {
  /* height: 26px;
  max-width: 194px; */
}

.footer-mobile .toogle-section {
  margin-top: 16px;
  border-top: 1px solid #ccc;
}

.footer-mobile .toggle-header {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 16px 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.footer-mobile .content-content {
  display: none;
  padding-left: 8px;
  padding-bottom: 8px;
}

.footer-social {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-payments {
  margin-top: 64px;
  max-width: 546px;
  width: 100%;
}

.footer-payments ul {
  display: flex;
  justify-content: space-between;
}

.footer-payments ul li {
  list-style: none;
  height: 24px;
  display: flex;
  align-items: center;
}

.footer-bottom p {
  text-align: center;
  max-width: 1074px;
  width: 100%;
  margin: 40px auto;
}

.footer-selos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 296px;
  width: 100%;
  height: 32px;
}

.toggle-content {
  display: none;
}

@media (min-width: 390px) and (max-width: 575px) {
  header .discount-header {
    display: none;
  }

  header .discount-header-mobile {
    height: 52px;
    background-color: #005cff;

    display: flex;

    justify-content: center;
    align-items: center;
  }

  header .discount-header-mobile p {
    width: 346px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: 700;
  }
  header .discount-header-mobile .discount {
    background-color: #6220c1;
    padding: 1px;
  }

  header .discount-header-mobile .cupom {
    font-weight: 400;
  }

  header .container-header-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 132px;
  }

  header .container-header-mobile .header-mobile-top {
    display: flex;
    justify-content: space-between;
  }

  header .container-header-mobile form {
    height: 40px;
    width: 360px;
    margin-top: 23px;
    margin-bottom: 16px;
  }

  header .header-content {
    display: none;
  }

  #banner-secundary {
    height: 732px;
  }

  #banner-secundary .banner-content {
    display: block;
    width: 391px;
    height: 732px;
    margin: 0px;
    padding: 0px;
  }

  #banner-secundary .banner-content .banner-img {
    display: none;
  }

  #banner-secundary .banner-content .description {
    display: none;
  }

  #banner-secundary .banner-content .description-mobile {
    width: 342px;
    padding: 38px 0px;
    margin: 0 auto;
  }

  #banner-secundary .banner-content .description-mobile h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
  }

  #banner-secundary .banner-content .description-mobile p {
    margin-top: 18px;
    font-size: 14px;
    font-weight: 400;
  }

  #banner-contact-mobile {
    height: 449px;
    background-image: url("./assets/banner-contato-mobile.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  #banner-contact-mobile .banner-content {
    background-color: #005cff;
    height: 75px;
    display: flex;
    align-items: center;
  }

  #banner-contact-mobile .banner-content p {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
    /* line-height: ; */
  }

  #newsletter .newsletter-content {
    width: 358px;
    margin: 0 auto;
  }

  #newsletter .newsletter-form {
    padding: 38px 16px;
    height: 284px;
    width: 358px;
  }

  #newsletter .newsletter-form form {
    display: flex;
    flex-direction: column;
  }

  input[name="name"],
  input[name="email"] {
    margin-bottom: 16px;
    height: 48px;
    max-width: 326px;
    width: 100%;
    border-radius: 8px;
    outline: none;
    padding-left: 24px;
    border: none;
    font-size: 14px;
  }

  #newsletter .newsletter-content .newsletter-form form button {
    margin-top: 16px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    width: 326px;
  }

  .footer-top {
    height: 496px;
    padding: 40px 0px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  #footer .footer-container .footer-top .footer-networks {
    width: 194px;
    height: 94px;
    margin-bottom: 48px;
  }

  #footer .footer-container .footer-top .footer-networks .footer-logo {
    display: flex;
    justify-content: center;
  }

  #footer .footer-container .footer-top .footer-content .toogle-section {
    width: 100%;
    border-top: 1px solid #c3c3c3;
  }

  #footer
    .footer-container
    .footer-top
    .footer-content
    .toogle-section:nth-last-child {
    border-bottom: 1px solid #c3c3c3;
  }

  #footer .footer-container .footer-top .footer-content .toogle-section h4 {
    width: 100%;
    padding: 16px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
  }

  #footer .footer-container .footer-top .footer-content .toogle-section h4 a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #footer .footer-container .footer-top .footer-content .toogle-content {
    display: none;
  }

  #footer .footer-container .footer-top .footer-payments {
    width: 290px;
    height: 64px;
    margin-top: 48px;
    padding: 0px;
  }

  #footer .footer-container .footer-top .footer-payments ul {
    display: flex;
    flex-wrap: wrap; /* permite quebrar para uma nova linha */
    justify-content: center; /* centraliza horizontalmente */
    gap: 22px; /* espaçamento entre os itens */
    padding: 0;
    margin: 0 auto;
  }
}
