<div class="footer-container">
  <div class="footer-top">
    <div class="container">
      <div class="footer-content">
        <div class="col-md-3">
          <div class="footer-networks">
            <img src="./assets/avanti.png" src="Avanti logo" />
            <div class="footer-social">
              <img src="./assets/instagram-icon.png" alt="Instagram logo" />
              <img src="./assets/facebook-icon.png" alt="Facebook logo" />
              <img src="./assets/youtube-icon.png" alt="Youtube logo" />
              <img src="./assets/tiktok-icon.png" alt="Tiktok logo" />
            </div>
          </div>
        </div>
        <div class="footer-institutional col-md-3">
          <h4><a>Institucional</a></h4>
          <h5><a>Sobre nós</a></h5>
          <h5><a>Nossas Lojas</a></h5>
          <h5><a>Privacidade e Segurança</a></h5>
          <h5><a>Termos e Condições</a></h5>
        </div>
        <div class="footer-help col-md-3">
          <h4><a>Central de ajuda</a></h4>
          <h5><a>Fale Conosco</a></h5>
          <h5><a>Frete e entrega</a></h5>
          <h5><a>Trocas e devoluções</a></h5>
          <h5><a>Formas de pagamento</a></h5>
          <h5><a>FAQ</a></h5>
        </div>
        <div class="footer-service col-md-3">
          <h4><a>Atendimento</a></h4>
          <h5><a>Telefone (00) 1234-5678</a></h5>
          <h5><a>E-mail exemplo@exmplo.com.br</a></h5>
          <h5><a>Horário de atendimento</a></h5>
          <h5><a>Formas de pagamento</a></h5>
          <p>
            Segunda a Sábado: 07h00 às 23h00<br />
            Domingos e Feriados: 07h00 às 21h00
          </p>
        </div>
      </div>
      <div class="footer-payments container">
        <ul>
          <li><img src="./assets/amex.png" alt="Amex" /></li>
          <li>
            <img src="./assets/master-card-icon.png" alt="Mastercard" />
          </li>
          <li><img src="./assets/visa.png" alt="Visa" /></li>
          <li><img src="./assets/hipercard.png" alt="Hipercard" /></li>
          <li><img src="./assets/elo-icon.png" alt="Elo" /></li>
          <li><img src="./assets/amex.png" alt="Amex" /></li>
          <li><img src="./assets/paypal-icon.png" alt="PayPal" /></li>
          <li><img src="./assets/pix-icon.png" alt="Pix" /></li>
          <li><img src="./assets/boleto-icon.png" alt="Boleto" /></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom container">
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
      iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
      illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
      odio dignissim qui blandit praesent luptatum zzril delenit augue duis
      dolore te feugait nulla facilisi.
    </p>

    <div class="footer-selos">
      <img src="./assets/lets-encrypt.png" alt="encrypt logo" />
      <img src="./assets/vtex-pci-200.png" alt="vtex certified" />
      <img src="./assets/avanti-footer.png" alt="avanti logo" />
      <img src="./assets/vtex-logo.png" alt="vtex logo" />
    </div>
  </div>
</div>
