<img
  src="./assets/discount-header.png"
  alt="cupom DESTONCO10"
  class="img-fluid discount-header"
/>
<div class="discount-header-mobile">
  <p>
    Ganhe <span class="discount">R$10,00</span> de desconto no seu primeiro
    pedido. Utilize o cupom <span class="cupom">DESCONTO10</span>
  </p>
</div>
<div class="container-header-mobile">
  <div class="">
    <div class="header-mobile-top">
      <img src="./assets/menu-header-mobile.png" alt="menu" />
      <img src="./assets/logo-avanti-mobile.png" alt="logo-mobile" />

      <div class="cart-icon-wrapper">
        <img src="./assets/cart-icon.png" />
        <span id="counter">0</span>
      </div>
    </div>
    <div>
      <form role="search">
        <div
          class="form-content d-flex align-content-center justify-content-between"
        >
          <input
            type="search"
            id="mySearch"
            name="q"
            placeholder="Digite aqui oque você procura "
            aria-label="Search through site content"
            required
          />
          <button class="btn-form">
            <img src="./assets/search-icon.png" />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="header-content">
  <div class="d-flex header-top justify-content-between items-center">
    <div class="d-flex align-items-center">
      <img src="./assets/logo-header.png" />
    </div>

    <form role="search">
      <div
        class="form-content d-flex align-content-center justify-content-between"
      >
        <input
          type="search"
          id="mySearch"
          name="q"
          placeholder="Digite aqui oque você procura "
          required
        />
        <button class="btn-form">
          <img src="./assets/search-icon.png" />
        </button>
      </div>
    </form>
    <div class="d-flex align-items-center user-cart">
      <img src="./assets/user-icon.png" />
      <img src="./assets/text-cart.png" />

      <div class="cart-icon-wrapper" style="position: relative">
        <img src="./assets/cart-icon.png" />
        <span id="counter">0</span>
      </div>
    </div>
  </div>
  <nav>
    <ul class="d-flex justify-content-between items-center">
      <div class="dropdown">
        <li class="dropbtn"><a>Todas as categorias</a></li>
        <div class="dropdown-content">
          <div class="d-flex">
            <div
              class="list-department d-flex align-content-center justify-content-center"
            >
              <ul>
                <li><a href="#">Departamento</a></li>
                <li><a href="#">Departamento</a></li>
                <li><a href="#">Departamento</a></li>
                <li><a href="#">Departamento</a></li>
                <li><a href="#">Departamento</a></li>
                <li><a href="#">Departamento</a></li>
                <li><a href="#">Departamento</a></li>
              </ul>
            </div>
            <div class="category d-flex justify-content-between">
              <div>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
              </div>
              <div>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
              </div>
              <div>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
                <a>Categoria</a>
              </div>
              <img src="./assets/caneca-dropdown.png" />
            </div>
          </div>
        </div>
      </div>

      <li class="dropbtn"><a>Departamento</a></li>
      <li class="dropbtn"><a>Departamento</a></li>
      <li class="dropbtn"><a>Departamento</a></li>
      <li class="dropbtn"><a>Departamento</a></li>
      <li class="dropbtn"><a>Departamento</a></li>
      <li class="dropbtn"><a>Departamento</a></li>
      <li class="dropbtn"><a>Departamento</a></li>
      <li class="dropbtn"><a>Departamento</a></li>
    </ul>
  </nav>
</div>
